* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #FCFCEE;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex-grow: 1;
}

.header {
    background-color: #228B22;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 75px;
}

.header .logo img {
    width: 100px;
    height: 100px;
}

.header .logo a {
    color: #fff;
    font-size: 42px;
    margin-left: 10px;
    text-decoration: none;
    transition: all .5s;
}

.header .links {
    display: flex;
    align-items: center;
    margin-right: 75px;
    font-size: 32px;
}

.navbar-links {
    list-style: none;
    float: right;
}

.navbar-items {
    display: inline-block;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.non-right {
    margin-right: 10px;
}

.non-left {
    margin-left: 10px;
}

.header .links a {
    color: #fff;
    text-decoration: none;
}

.header .links a,
.header .links a:after,
.header .links a:before {
    transition: all .5s;
}

.header .links a:hover {
    color: #c8c8c8
}

.header .links a {
    position: relative;
}

.header .links a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

.header .links a:hover:after {
    width: 100%;
}

.header .links .non-right {
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 75px;
}

.path {
    display: flex;
    align-self: flex-start;
    font-size: 32px;
    color: #6f6f6f;
    margin-top: 45px;
}

.path a {
    font-size: 32px;
    color: #6f6f6f;
    text-decoration: none;
}

.content-zayavlenie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-height: 60vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 20%);
    margin-top: 45px;
    padding-bottom: 60px;
}

.advice1 {
    text-align: center;
    font-size: 32px;
    color: #6f6f6f;
    text-decoration: none;
    margin-top: 20px;
}

.type-of-doc {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    border-spacing: 15px 0;
    margin-top: 60px;
}

.doc-types-inactive {
    width: 220px;
    height: 70px;
    padding-left: 5px;
    background-color: #fffffa;
    border: solid 1px black;
    border-radius: 5px;
    transition: all .2s;
    font-size: 32px;
    text-align: center;
}

.interactive-on:hover {
    background-color: #0C78ED;
    color: #fff;
    cursor: pointer;
}

.doc-types-active {
    background-color: #0069d9;
    color: #fff;
}

#zayavlenie-id {
    border-radius: 10px 5px 5px 10px;
}

#inoe-id {
    border-radius: 5px 10px 10px 5px;
}

.doc-parameters {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 45px;
    flex-wrap: wrap;
    transition: all .2s;
}

#inoe {
    display: none;
    justify-content: center;
    font-size: 32px;
    color: #6f6f6f;
    margin-top: 45px;
}

.doc-parameters select {
    width: 320px;
    height: 50px;
    border: solid 1px #414141;
    font-size: 24px;
    border-radius: 5px;
    display: flex;
}

.doc-parameters select:hover {
    cursor: pointer;
}

#done {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 75px;
    background-color: #0C78ED;
    color: #fff;
    align-self: flex-end;
    font-size: 28px;
    border-radius: 10px;
    margin-right: 20px;
    transition: .2s;
}

#done:hover {
    background-color: #619fe2;
    cursor: pointer;
}

.content-zayavlenie-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-height: 60vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 20%);
    margin-top: 45px;
    padding-bottom: 60px;
    background-color: #fff;
}

#back {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    text-decoration: none;
    width: 175px;
    height: 75px;
    background-color: #0C78ED;
    color: #fff;
    font-size: 28px;
    border-radius: 10px;
    margin-left: 20px;
    transition: .2s;
}

#o-chem>ul {
    list-style: none;
}

#save-logo {
    width: .9em;
}

#back:hover {
    background-color: #619fe2;
    cursor: pointer;
}

#results-zayavlenie,
#results-jaloba,
#results-hodataystvo,
#results-zapros {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    margin: 45px;
    color: #14006e;
}

.under-header {
    font-weight: bolder;
    color: black;
    text-align: center;
}

#results-zayavlenie span {
    font-size: 40px;
    color: black;
}

#err-text {
    font-size: 40px;
    color: black;
}

.footer {
    background-color: #165A16;
    height: 85px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    flex-shrink: 0;
}

.footer>span {
    margin-left: 75px;
    font-size: 12px;
}

.footer-right-side {
    display: flex;
    flex-direction: column;
    margin-right: 75px;
    font-size: 16px;
}